body {
  background-color: var(--mcb-background) !important;
}

.mcb-title,
.mcb-button {
  font-weight: 300 !important;
  user-select: none;
}

#logobar {
  background-color: var(--mcb-secondary-dark) !important;
  border-bottom: 2px solid var(--bezel-color-invert) !important;
}

#mainstack {
  background: url(/img/Kats.png) !important;
  background-size: cover !important;
  background-position: center !important;
}

#content {
  backdrop-filter: blur(5px) !important;
  user-select: none;
}

#footer {
  background-color: var(--mcb-background) !important;
  border-top: 2px solid var(--bezel-color-invert) !important;
}

@media (max-width: 400px) {
  .mcb-button {
    font-size: 0.6rem !important;
  }

}

a {
  color: var(--mcb-primary) !important;
  text-decoration: underline !important;
  cursor: pointer !important;
  user-select: none !important;
}

a:hover {
  color: var(--mcb-primary-dark) !important;
}

.sb {
  cursor: pointer !important;
  user-select: none !important;
}

.sb-yt:hover {
  color: #dd0000 !important;
}

.sb-tw:hover {
  color: #cf1df2 !important;
}

.sb-x:hover {
  color: #30aef7 !important;
}

.sb-bs:hover {
  color: #1083fe !important;
}

.sb-dc:hover {
  color: #7289da !important;
}