body {
  background-color: var(--mcb-background) !important;
  overflow-x: hidden !important;
}
.mcb-button-border {
  position: absolute;
  border: 2px solid black;
  width: 100% !important;
  height: 115% !important;
  top: -0% !important;
  left: -0% !important;
}

.mcb-button-border-a {
  position: absolute;
  border: 2px solid black;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
}

.mcb-title,
.mcb-button {
  font-weight: 300 !important;
  user-select: none;
  outline: none !important;
}

.video-card:hover {
  filter: brightness(0.9) !important;
  transition: all 0.2s ease-in-out !important;
}

#logobar {
  background-color: var(--mcb-secondary-dark) !important;
}

#mainstack {
  background: url(/img/Kats.webp) !important;
  background-size: cover !important;
  background-position: center !important;
}

#content {
  backdrop-filter: blur(10px) !important;
  user-select: none;
}

#footer {
  background-color: var(--mcb-background) !important;
  border-top: 2px solid var(--bezel-color-invert) !important;
}

@media (max-width: 400px) {
  .mcb-button {
    font-size: 0.8rem !important;
  }
  .mcb-title-1 {
    font-size: 2rem !important;
  }
  .mcb-title-2 {
    font-size: 1.5rem !important;
  }
  .mcb-title-3 {
    font-size: 1.1rem !important;
  }
}

a {
  color: var(--mcb-primary) !important;
  text-decoration: underline !important;
  cursor: pointer !important;
  user-select: none !important;
}

a:hover {
  color: var(--mcb-primary-dark) !important;
}

.sb {
  cursor: pointer !important;
  user-select: none !important;
}

.sb-yt:hover {
  color: #dd0000 !important;
}

.sb-tw:hover {
  color: #cf1df2 !important;
}

.sb-x:hover {
  color: #30aef7 !important;
}

.sb-bs:hover {
  color: #1083fe !important;
}

.sb-dc:hover {
  color: #7289da !important;
}
